body {
    font-family: "Arial", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin-top: 3cm;
    margin-bottom: 2cm;
    margin-left: 3cm;
    margin-right: 2cm;
}

/* Para mudar a fonte dos títulos (h1, h2, etc.) */
h1, h2, h3, h4, h5, h6 {
  font-family: "Arial", sans-serif;
}